{% extends 'instructeur/instructeur_base.html.twig' %}

{% block main %}
    {{ dump(app.user) }}
    <div class=" mt-2 mb-5 w-75 container ">
        <b class="text-danger">Welkom bij Trainings Centrum Den Haag</b>
        <hr class="border border-danger"/>
        <p>
            Den Haag Training Center is een sportschool waar onder professionele begeleiding
            in een veilige omgeving verschillende soorten martisl arts-, indoor bootcano,
            personal -en small group trainingen worden aangeboden.
        </p>
    </div>
{% endblock %}


