{% extends 'leden/leden_base.html.twig' %}

{% block main %}
    <div class=" mt-2 mb-5 w-75 container">
        <p class="text-danger content-title">Wijzig uw gegevens</p>
        <hr class="border border-danger"/>
        {{ form_start(bezoekerForm,{'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(bezoekerForm) }}
        <button type="submit" class="btn btn-success">Wijzig</button>
        {{ form_end(bezoekerForm) }}
    </div>
{% endblock %}