{% extends 'leden/leden_base.html.twig' %}

{% block main %}
    <div class="container">
        {% for les in lessen %}
            <div class="row mb-5" >
                <div class="col-sm-3">
                    <img src="{{ asset("img/#{les.training.imageDir }") }}" class="card-image" alt="">
                </div>
                <div class="col-sm-9">
                    <h5 class="card-title">{{ les.training.naam }}</h5>
                    <p>{{ les.time|date("H:i") }}</p>
                    {%  if les.maxPersons > registrations.memberCount(les)|length %}
                    <a href="{{ path('leden_lessen_inschrijven',{id:les.id}) }}" class="btn btn-primary">Schrijf in!</a>
                    {% else %}
                        <p class="content-title">Excuses, de les is al vol.</p>
                        <p class="content-title">Probeer een andere les.</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}



