{% extends 'bezoeker/bezoeker_base.html.twig' %}
{% block main %}
    <div class=" mt-2 mb-5 w-75 container">
        <p class="text-danger content-title">Lid worden</p>
        <hr class="border border-danger"/>
        <p>
            Om gebruik te kunnen maken van de lessen moet je bij ons bekend zijn.
            Vul hieronder alle gegevens in en registreer jezelf
        </p>
        {{ form_start(bezoekerForm,{'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(bezoekerForm) }}
            <button type="submit" class="btn btn-success">Registreer</button>
        {{ form_end(bezoekerForm) }}
    </div>
{% endblock %}