{% extends 'bezoeker/home_base.html.twig' %}
{% block main %}
    <div class=" mt-2 mb-5 w-75 container">
        <p class="text-danger content-title">Lid worden</p>
        <hr class="border border-danger"/>
        <p>
            Om gebruik te kunnen maken van de lessen moet je bij ons bekend zijn.
            Vul hieronder alle gegevens in en registreer jezelf
        </p>
        <form action="" method="post" class="w-100 mb-5">
            <div class="mb-5">
                <div class="form-group row">
                    <label for="" class="col-lg-2">Voornaam*</label>
                    <input type="text" class="form-control col-lg-10">
                </div>
                <div class="form-group row">
                    <label for=""class="col-lg-2">Tussenvoegsel</label>
                    <input type="text" class="form-control col-lg-10">
                </div>
                <div class="form-group row">
                    <label for=""class="col-lg-2">Achternaam*</label>
                    <input type="text" class="form-control col-lg-10">
                </div>
                <div class="form-group row">
                    <label for=""class="col-lg-2">Geboortedatum*</label>
                    <input type="text" class="form-control col-lg-10">
                </div>
                <div class="form-group row">
                    <label for=""class="col-lg-2">Gebruikersnaam*</label>
                    <input type="text" class="form-control col-lg-5">
                    <p class="col-lg-5">(te gebruiken om in te loggen)</p>
                </div>
                <div class="form-group row">
                    <label for=""class="col-lg-2">Wachtwoord*</label>
                    <input type="password" class="form-control col-lg-5">
                </div>
                <div class="form-group row">
                    <label for=""class="col-lg-2">Herhaling wachtwoord*</label>
                    <input type="password" class="form-control col-lg-5">
                    <p class="col-lg-12">het wachtwoord is nodig om in te loggen, moet minstens 6 teken bevaten.</p>
                </div>
            </div>
            <div class="mb-2">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="">Man/Vrouw</label>
                    </div>
                    <div class="col-lg-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                            <label class="form-check-label" for="inlineRadio3">Man</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                            <label class="form-check-label" for="inlineRadio3">Vrouw</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-lg-2">Straat*:</label>
                    <input type="text" class="form-control col-lg-8 col-md-offset-2">
                    <input type="text" class="form-control col-lg-2 col-md-offset-2">
                </div>
                <div class="form-group row">
                    <label for="" class="col-lg-2">Postcode*</label>
                    <input type="text" class="form-control col-lg-2">
                </div>
                <div class="form-group row">
                    <label for="" class="col-lg-2">Stad:</label>
                    <input type="text" class="form-control col-lg-10">
                </div>
                <div class="form-group row">
                    <label for="" class="col-lg-2">Email:</label>
                    <input type="email"   class="form-control col-lg-10">
                </div>
            </div>
            <div class="col-6">
                <button type="submit" class="" style="margin-left: 100%">Registreer</button>
            </div>
            </hr>
        </form>
{#        {{ form_start(bezoekerForm) }}#}
{#            {{ form_widget(bezoekerForm) }}#}
{#            <button type="submit" class="mt-3">Registreer</button>#}
{#        {{ form_end(bezoekerForm) }}#}
    </div>
{% endblock %}