{% extends 'bezoeker/home_base.html.twig' %}

{% block main %}
    <div class="container mb-5">
        <p class="content-title text-danger">Gedragsregels</p>
        <hr class="border border-danger"/>
        <p>
            Om het leuk en gezellig te houden hebben we een aantal regels opgesteld.
            We hopen zo op een sportieve manier met elkaar om te gaan.
            We noemen hieronder een aantal regels op:
        </p>
        <ol>
            <li>Respect voor elkaar hebben</li>
            <li>Iedereen is medeverantwoordelijk voor een ordentelijk achterlaten van de gebruikte kleedkamer </li>
            <li>Je dient op tijd aanwezig te zijn.</li>
            <li>Je moet de regels na te leven van de sport die je volgt</li>
            <li>Je dient geen dient geen onbehoorlijk taalgebruik te gebruiken </li>
        </ol>
    </div>
{% endblock %}

